@import './base.css';

.dashboard__main-title-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard__main-title-and-button button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: AptosBold, sans-serif;
    font-weight: 700;
    font-size: 1.05rem;
}
.dashboard__sidebar {
    height: 100%;
}
.tasks-page {
    padding-top: 61.3px;
    padding-left:240px ;
    height: 100%;
    box-sizing: border-box;
}
  
.dashboard__main-container {
    padding-left: 25px;
    padding-right: 25px;
}

.dashboard__title-welcome { 
    padding-top: 35px;
    font-weight: 700;
    font-family: AptosBold, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text-on-primary);
}
.icon__waving-hand{
  height: 1.5rem;
  padding-left: 10px;
}
.dashboard__sub-title { 
    padding-top: 10px;
    color: var(--color-text-on-primary);
}
.dashboard__main-title { 
    padding-top: 40px;
    padding-bottom: 25px;
    font-weight: 700;
    font-family: AptosBold, sans-serif;
    color: var(--color-text-on-primary);
}

.dashboard__identifiers {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    color: var(--dark-grey);
}
.dashboard__task-items {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}
.dashboard__card {
    background-color: var(--white);
    border-radius: 10px;
}
.dashboard__identifiers h3:nth-child(2), .dashboard__task-items h3:nth-child(2) {
    padding: 10px 10px 10px 5px;
    margin-right: auto;
}

.dashboard__identifiers h3:nth-child(n+3) {
    padding: 10px 13px 10px 13px;
    text-align: center;
} 

#menu_vertical {
    padding: 10px 10px 10px 10px;
    text-align: center; 
        cursor: pointer;
}

.dashboard__task-items input{
    text-align: center;
} 
.dashboard__task-items.dashboard__card {
    /* margin-right:5px */
}

.dashboard__task-items.dashboard__card input[type="radio"] { 
    height: 15px;
    width: 15px;
    border: solid 1px var(--dark-grey);
    accent-color: var(--dark-grey);}

.dashboard__task-items.dashboard__card input[type="radio"]:first-of-type {
    margin-left: 0px;
    margin-right: 38px;
}
.dashboard__task-items.dashboard__card input[type="radio"]:last-of-type {
    margin-left: 0px;
    margin-right: 25px;
}

.dashboard__task-items.dashboard__card input[type="text"] {
    margin-left: 0px;
    margin-right: 47px;
    height: 25px;
    width: 75px;  
    font-size: 16px;
    color: var(--dark-grey);
    border: solid 1px var(--dark-grey);
    border-radius: 5px;
}

.dashboard__task-description {
    min-width: 150px;
    word-wrap:break-word;
}
/* #checkboxPercentage {
    margin-left: 0px;
    margin-right: 0px;
   } */

.center_square {
    align-items: center;
    margin: 5px 5px 5px 20px;
    display: flex
}

.task__menu {
   position: relative;

}
.dropdown-content {
    background-color:var(--main-color-bg);
    font-family: Aptos, sans-serif;
    font-size: 1.0rem;
    text-align: center;
    border: 1px solid #dddbda;
    display: block;
    position: absolute;
    top: 100%; /* Position below the menu button */
    right:0;
    min-width: 160px;
    z-index: 1;
    color: black;
    border-radius: 10px;
}
.dropdown-content h4 {
    display: block;
    margin: 5px auto;
    font-family: Aptos, sans-serif;
}

.dropdown-content h4:last-of-type {
    margin-bottom: 20px;
}

.dropdown-content button{
    display: block;
    margin: 10px auto;
}

.dropdown-content h4:nth-child(1){
    margin-top: 15px;
}

.dropdown-menu-button {
    font-size: 0.9rem;
    color: var(--dark-grey);
    background-color: var(--white) ;
    padding: 0 0.9rem;
    height: 25px;
    border-radius: 0.5rem;
    border: 0.22rem solid var(--color-button-border);
    box-sizing: border-box; 
    cursor: pointer;
    transition: outline 0.1s linear;
    vertical-align: middle;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: outline 0.1s linear;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.dropdown-menu-button:last-child {
    margin-bottom: 15px;
}

.dropdown-menu-button:hover, .dropdown-menu-button:focus {
    outline: 0.125rem solid var(--color-button-primary-bg);
    background-color: var(--color-button-primary-bg) ;
    color: var(--white)
}





#checkboxAchieved,
#checkboxInProgress,
#checkboxNeedsImprovement
 {
    margin-left: 0px;
    margin-right: 80px;
    height: 15px;
    width: 15px;
    border: solid 1px var(--dark-grey);
    accent-color: var(--dark-grey);
}
#checkboxNeedsImprovement
 {
    margin-right: 45px;
    margin-left: 5px;
}

#modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#modal:empty {
  display: none;
}

#modal > div {
    background-color:var(--main-color-bg);
    font-family: Aptos, sans-serif;
    font-size: 1.0rem;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
}
  
.modal__container select, .modal__container textarea, .modal__container input {
    color: var(--dark-grey);
    border: solid var(--light-grey-bg);
    background-color: var(--white);
    margin: 0 0px 5px 15px;
    line-height: 20px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    padding: 0 10px 0 10px;
    box-sizing: border-box; 
  }

.modal__container select, .modal__container input {
    height: 30px;
    width: 40%;
  }
.modal__container .taskPriorityModal {
    margin-left: 27px;
    
  }
.modal__container textarea {
    height: 90px;
    min-width: 380px;
    width: 100%;
    padding-top: 5px;
}
  #modal .buttons button {
    display: inline-block;
    margin-right: 15px;
  }
  
.modal__info-key-value {
    display: flex;
    flex-direction: row; 
    gap: "20px";
    text-justify: start;
    justify-content: start;  
    margin: 20px auto;
}
.modal__info-key-value:first-child {
    margin-top: 0px;
}
  